node_modules
.idea/
.settings
.project

*.iml
*.css.d.ts
*.scss.d.ts
*.js
*.js.map
npm-debug.log.*

/bot/data/*
/bot/text-files/src/*
/bot/text-files/dist/*
/bot/t2t_datagen/*
/bot/t2t-dara/*
/bot/t2t-train/*
/bot/__pycache__
!.gitkeep
