<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
  <title>2018/03/23 | kusa-haeru-slide</title>
  <%# Noto-sans %>
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css">
  <%# font-awesome %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%# bulma %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <%# カルーセル用 %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  <%# グローバルスタイル %>
  <style>
    body {
      font-family: 'Noto Sans JP', sans-serif;
    }
  </style>
</head>
<body>
  <noscript>
    このWebサイトの全ての機能を利用するためにはJavaScriptを有効にする必要があります。
    <a href="http://www.enable-javascript.com/ja/" target="_blank">あなたのWebブラウザーでJavaScriptを有効にする方法</a>を参照してください。
  </noscript>
  <div id="app">
    Now loading...
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/vendor.js"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>
